 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">B.E in Electronics And Communication</h4>
    <h5 class="meta">Meenakshi Sundararajan Engineering College</h5>
    <div class="time">2012 - 2016</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Higher Secondary</h4>
    <h5 class="meta">SDAV School Adambakkam</h5>
    <div class="time">2011 - 2012</div>
</div><!--//item-->
</div><!--//education-container-->
