<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Developer</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Verizon Data Services India Pvt Ltd, Chennai</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Building Enterprise applications in a billing project called Integrated Customer Inquiry (ICI), primarily UI development in EXTJS , currently working on a adjustment processing tool to amend incorrect billing of invoices</p>  
                        <p>A part of a agile development team working with a mission to serve our customers the earliest. </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">President - ELECSA</h3>
                            <div class="time">2014 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Meenakshi Sundararajan Engineering College, Chennai</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Headed Pranav2k15 , a national level symposium conducted by Electronics And Communication Students Association(ELECSA). The event was a grand success which saw active participation from over 1000 students from various Engineering Colleges throughout TamilNadu.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">EETP - BSNL</h3>
                            <div class="time">2014- 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">BSNL - MaralimalaiNagar</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Was one among the privileged few to attend Government Of India's sponsorship program to undergo rigorous training in Telecommunication services at BSNL.Completed a variety of projects relating to Networking , and Telecom Engineering.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
