<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>These are few of the marquee projects which i have done spanning my acaademic and professional career</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="http://bludle.com/node/114">AXA Insurance bot</a></span> - <span class="project-tagline">A cross platform chatbot which helps you to narrow down a proper insurance plan based on your profile.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://bludle.com/node/115" target="_blank">AXA Carpooling App</a></span> - 
                    <span class="project-tagline">A Cab Aggregator app which clubs the employees together based on their destination and dispatches drivers accordingly. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://bludle.com/node/117" target="_blank">Electric Wheel Chair</a></span> - <span class="project-tagline">A custom made electric wheelchair designed with the prima motto of having low cost high efficient solution &amp; investors</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://bludle.com/node/121" target="_blank">BLE and IOT based Industrial Automation</a></span> - <span class="project-tagline">A solution to automate and monitor all the equipments in an industrial setting and have predictive maintanence on the same. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://www.linkedin.com/pulse/focus-hari-santhosh/" target="_blank">You own your attention</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
                </div><!--//item-->
            </section><!--//section-->
